<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link href="https://fonts.googleapis.com/css2?family=Codystar&family=Roboto&display=swap&family=Bungee+Hairline&display=swap" rel="stylesheet">
    </head>
    <body>

        <header>
            <div class="logo">
                    <img src="https://image.flaticon.com/icons/svg/2813/2813497.svg" class="logo" alt="Server icon">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">contact</a></li>
                </ul>
            </div>
        </header>

        <main>
            <div id="banner">
                    <h1>Automatic Sentiment Evaluation</h1>
                    <h2>Discover the tone and subjectivity of news articles, blog posts, and phrases</h2>
            </div>
            <section id="url-evaluator">
                <h2>URL evaluator</h2>
                <h3>Evaluate a news article or blog post via its URL</h3>
                <h3>Paste a valid URL below, including https://</h3>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="url" name="user-url" value="" placeholder="https://www.cnn.com/asia/live-news/...">
                    <input class="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>
            <section id="text-evaluator">
                <h2>Text evaluator</h2>
                    <h3>Evaluate a text snippet by pasting or typing a sentence or phrase</h3>
                    <h3>Enter some text below to get its stats!</h3>
                    <form class="" onsubmit="return Client.tweetSubmit(event)">
                        <input id="tweet" type="text" value="" placeholder="The blueberry is the world's best fruit.">
                        <input class="submit" type="submit" name="" value="submit" onclick="return Client.tweetSubmit(event)" onsubmit="return Client.tweetSubmit(event)">
                    </form>
                </section>    

            <section id="results">
                <h2><strong>Results</strong></h2>
                    <ul>
                        <li>Subjectivity: <span id='subjectivity'></span></li>
                        <li>Subjectivity Certainty: <span id='subj-certainty'></span></li>
                        <li>Tone: <span id='tone'></span></li>
                        <li>Tone Certainty: <span id='tone-certainty'></span></li>
                    </ul>
            </section>
        </main>

        <footer>
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </footer>

        <script>
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('/service-worker.js');
                    });
                }
            </script>

    </body>
</html>
