$primary-font: 'Codystar', cursive;
$secondary-font: 'Roboto', sans-serif;
$primary-color: rgb(59,59,59);
$secondary-color: #eeeff3;
$alt-font: 'Bungee Hairline', cursive;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $primary-font;
    color: $primary-color;
    font-weight: 500;
}

main {
    flex: 2;
}

h1 {
    font-size: 3em;
    margin: 1em;
    font-family: $primary-font;
    color: $primary-color;
}

h2 {
    font-family: $primary-font;
    font-size: 1.5em;
    padding: 0.5em 0em;
    font-weight: bolder;
    color: $primary-color;
}

h3 {
    font-size: 1.1em;
    margin: 1em 0em;
}

#banner {
    text-align: center;
}

//reduce h3 text size for small screens
    @media(max-width: 686px) {
        h3 {
            font-size: .7em;
        }
    }