$primary-font: 'Codystar', cursive;
$alt-font: 'Bungee Hairline', cursive;
$primary-color: rgb(59,59,59);
$secondary-color: #eeeff3;

form {
    border: 0.3em solid $secondary-color;
    border-radius: .5em;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    // line-height: 16px;
    margin: 10px 0;
    outline: none;
}

.submit {
    height: 3em;
    font-size: .9em;
    text-shadow: .2px .2px $primary-color;
    color: $primary-color;
    background-color: #80cdb3;
    // border: 1em solid #f5f5f5;
    border-radius: 1em;
    width: 23%;
    // text-decoration: none;
    &:hover {
        background-color: #61c1a1;
        cursor: pointer;
    }
    transition: all .3s;
    font-family: $primary-font;
    outline: none;
}

#url, #tweet {
    border-radius: 1em;
}