$primary-font: 'Codystar', serif;
$secondary-font: 'Roboto', sans-serif;
$alt-font: 'Bungee Hairline', serif;
$primary-color: rgb(59,59,59);
$secondary-color: #eeeff3;

form {
    border: 0.3em solid $secondary-color;
    border-radius: .5em;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    margin: 10px 0;
    outline: none;
}

section {
    max-width: 800px;
    margin: 50px auto;
        h2 {
        color: $secondary-color;
        font-size: 1.8em;
    }
}

.submit {
    height: 3em;
    font-size: .9em;
    text-shadow: .2px .2px $primary-color;
    color: $primary-color;
    background-color: #80cdb3;
    border-radius: 1em;
    width: 30%;
    // min-width: 20%;
    &:hover {
        background-color: #61c1a1;
        cursor: pointer;
    }
    transition: all .3s;
    font-family: $primary-font;
    outline: none;
}

#url, #tweet {
    border-radius: 1em;
}

#url-evaluator {
    background-color: #586589;
    padding: 2em;
    border-radius: 1.5em;
    color: $secondary-color;
}

#text-evaluator {
    background-color: #198c8c;
    padding: 2em;
    border-radius: 1.5em;
    color: $secondary-color;
}

#results {
    font-size: 1.2em;
    background-color: #cd5555;
    padding: 2em;
    border-radius: 1.5em;
    font-family: $primary-font;
    h2 {
        border-bottom: 0.5em solid $secondary-color;
        border-radius: .4em;

    }
        li {
            margin: 1.5em 0em;
            color: $secondary-color;
        }
    }

    #snippet {
        border-top: 0.2em solid $secondary-color;
        padding: 1em 0em;
    }

    #text-snippet {
        font-family: $secondary-font;
        font-size: .7em;
    }

    .wait {
        cursor: wait;
    }